#contents {
    max-width: 900px;
    max-height: 350px;
    width: 90%;
    height: 40%;
    text-align: center;
}

#multiplication_content .settings {
    padding-top: 40px;
}

#multiplication_content .culculate_area {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#multiplication_content .no-emphasis {
    font-size: 1em;
}

#multiplication_content .emphasis-1 {
    font-size: 3.5em;
}

#multiplication_content .emphasis-2 {
    font-size: 5.5em;
}

#multiplication_content .emphasis-3 {
    font-size: 8em;
}

#multiplication_content .digit-3 {
    width: 100%;
}

#multiplication_content .number {
    background-color: rgba(0, 0, 255, 0);
    color: yellow;
    border: 0px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    width: 2em;
}

#multiplication_content .operator {
    color: white;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 0 15px 0 15px;
}

#multiplication_content .collapse {
    background-color: #DCDCDC;
}

#multiplication_content .checkbox-inline {
    color: #464545;
}

#multiplication_content .disable-font-color {
    color: rgba(0, 0, 255, 0);
}

#multiplication_content .disable-background-color {
    background-color: rgba(0, 0, 255, 0);
}

